# Python
__pycache__/
*.py[cod]
venv/
.venv/
*.egg-info/
.env

# Node
node_modules/
dist/
.npm

# IDE
.idea/
.vscode/
.vs/
*.swp

# Flask / AI
backend/dat/*.dat
backend/registered_faces.json
backend/snapshots/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Build
*.tar
*.zip
