[Unit]
Description=Ensure Home Camera Monitor MediaMTX container
Wants=network-online.target docker.service
After=network-online.target docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/bin/bash /service/home-camera-monitor/deploy/mediamtx_run.sh
RemainAfterExit=yes
TimeoutStartSec=120

[Install]
WantedBy=multi-user.target
